@import './app';
@import './navBar';
@import './footer';
@import './army';
@import './parts';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Ruslan Display', cursive;
}